@font-face {
    font-family: robotoBlackItalic;
    src: url(Roboto-BlackItalic.ttf);
}

@font-face {
    font-family: robotoBlack;
    src: url(Roboto-Black.ttf);
}

@font-face {
    font-family: robotoBold;
    src: url(Roboto-Bold.ttf);
}

@font-face {
    font-family: robotoBoldItalic;
    src: url(Roboto-BoldItalic.ttf);
}

@font-face {
    font-family: robotoItalic;
    src: url(Roboto-Italic.ttf);
}

@font-face {
    font-family: robotoLight;
    src: url(Roboto-Light.ttf);
}

@font-face {
    font-family: robotoLightItalic;
    src: url(Roboto-LightItalic.ttf);
}

@font-face {
    font-family: roboto;
    src: url(Roboto-Regular.ttf);
}

@font-face {
    font-family: robotoCondensed;
    src: url(RobotoCondensed-Regular.ttf);
}