body{
	font-family: 'Montserrat';
}
.jumbotron{
	text-align: center;
	position: relative;
}
.login{
	width: 30%;
	display: block;
	margin: auto;
}
.login-info{
	text-align: center;

}
#match-number-number{
	background: transparent;
	font-size: 24pt;
	text-align: center;
	border: none;
}
#cont-btn{
	display: block;
	margin: auto;
}
#post-login, #teleop{
	text-align: center;
}
#forgot-id{
	display: block;
	margin: auto;
}
#bet-blue-win, #bet-blue-win-intro{
	background: #4286f4 !important;
	color: white;
}
#bet-blue-win, #bet-red-win{
	padding: 100px;
	border-radius: 10%;
	font-size: 36pt;
}
#bet-blue-win:hover, #bet-blue-win-intro:hover{
	background: #356fce !important;
}
#last-textarea{
	text-align: center;
}
#success{
	color: white;
}
#teleop-gear{
	text-align: center;
	background: transparent;
	border: transparent;
	font-size: 18pt;
}
